*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /*colors*/
    --white-color: #efebeb;
    --black-color: #060606;
    --primary-color: #ff9509;
    --secondary-color: #cf520e;

    /*font-size*/
    --font-size-s: 12px;
    --font-size-m: 18px;
    --font-size-l: 24px;
    --font-size-xl: 36px;
    --font-size-xxl: 48px;

    /*font-weight*/
    --font-weight-n: 400px;
    --font-weight-semi-bold: 500px;
    --font-weight-bold: 600px;

    /*border-radius*/
    --border-radius-n: 8px;
    --border-radius-curve: 30px;
    --border-radius-circle: 50%
}

header{
    background-color: var(--primary-color);
}

.nav-section{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1300px;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-menu{
    display: flex;
    gap: 10px;
}

.navbar .nav-logo .nav-text{
    color: var(--white-color);
    font-size: var(--font-size-xxl);
}

.navbar .nav-menu .nav-link{
    color: var(--white-color);
    padding: 10px 18px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius-curve);
    font-size: var(--font-size-l);
}

.navbar .nav-menu .nav-link:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color);
}
